.mobile-home {
  display: flex;
  flex-direction: column;

  padding: 64px 24px 0;

  box-sizing: border-box;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
}

.hero-content .section-title:first-child {
  margin: 0 0 24px;
}

.hero-name {
  margin: 0 0 16px;

  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1;

  color: var(--accent-color);
}

.hero-content .section-title:last-child {
  margin: 0;
}

.hero-description {
  margin: 0;

  font-size: 1.5rem;
  font-weight: 500;

  color: var(--text-primary, white);

  opacity: 0.8;
}

.hero-model {
  margin-top: 0px;
  margin-bottom: 24px;

  width: 100%;
  height: 340px;

  border-radius: 28px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.05);
}
